@import "tailwindcss";

@font-face {
  font-family: "hikerTM";
  src: url("/fonts/hikerTM-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMetana-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMetana-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Salsa BT";
  src: url("/fonts/Salsa-BT-Regular-4-3-2-1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Salsa BT";
  src: url("/fonts/Salsa-BT-Redonda-3-2-1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-hiker: "hikerTM", sans-serif;
  --font-neue: "Neue Montreal", sans-serif;
  --font-salsa: "Salsa BT", sans-serif;
}

body {
  font-family: "Neue Montreal", sans-serif;
}

:root {
  /* primitives */
  --red-500: #c43535;
  --red-400: #d47373;

  /* semantic */
  --color-accent: var(--red-500);
  /* --color-background: var(--black-900);
  --color-foreground: var(--white-100);
  --color-muted: var(--gray-500); */
}

#ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
#ui-overlay button {
  pointer-events: auto;
}
@keyframes lightEmit {
  0% {
    opacity: 0;
    transform: scale(0.96);
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    opacity: 0.8;
    box-shadow:
      0 0 100px 25px rgba(255, 255, 255, 0.7),
      0 0 150px 60px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(0.96);
    box-shadow:
      0 0 100px 25px rgba(255, 255, 255, 0.7),
      0 0 120px 40px rgba(255, 255, 255, 0.3);
  }
}
